.auth-form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.auth-form-btn {
    display: inline-block;
    border-radius: 4px;
    background-color: #4b4a4a;
    border: none;
    color: #FFFFFF;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition-duration: 0.4s;
    cursor: pointer;
    margin: 5px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition-duration: 0.4s;
}

.auth-form-btn:hover {
    background-color: #252525;
    transform: scale(1.05);
}

.auth-form input {
    margin: 2rem;
    width: 70%;
    padding: 5px;
}

@media only screen and (max-width: 600px) {
    .auth-form input {
        margin: .5rem;
    }

    .auth-form-btn {
        font-size: 20px;
        padding: 10px;
        width: 200px;
    }
}